
    /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 279px to 319px
  */
  
  @media (min-width: 279px) and (max-width: 319px) {
        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
            overflow: hidden;
        }
        .navbar-brand img{
            width: 80px;
        }
        .nav-toggle{
            font-size: 20px;
            color: #ff6058;
        }
        .nav-toggle:hover, .nav-toggle:focus{
            color: #ff6058;
        }
        .offcanvas-social{
            width: 100%;
            background-color: #333333;
            padding: 10px;
        }
        .btn-close {
            color: #ffffff;
            background:transparent !important;
        }
        .btn-close .fa-xmark{
            color: #ffffff;
            font-size: 25px;
        }
        .offcanvas-body .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
            color:#fff;
        }
        .offcanvas-body .navbar-nav .nav-link{
            color:#fff;
            font-size: 18px;
            line-height: 30px;
        }
        .offcanvas.offcanvas-start {
            background: #333333;
            width: 100%;
        }
        .offcanvas-social li a{
            color: #ff6058;
    
        }
        .banner-content h1 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .banner-content h3 {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 22px;
        }
        .banner-content p {
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 30px;
        }
        .hero-buttons {
            display: flex;
        }

        .home-section .hero-buttons .btn, .learn-more-btn {
            font-size: 12px;
            font-weight: 600;
            padding: 10px 13px;
            transition: 1s;
        }
        /* font-size: 12px;
        font-weight: 600;
        padding: 12px 25px;
        margin: 10px 5px;
        transition: 1s; */
        /* banner part end */
        .status-col span.number {
            font-size: 30px;
            line-height: 45px;
        }
        .status-col .multiple-number span.text-lowercase {
            font-size: 30px;
            line-height: 45px;
            font-weight: 800;
            color: #ff6058;
            margin: 0px 5px;
        }
        .status-col{
            border: none;
        }
        .status-col:first-child, .status-col:nth-child(2){
            border-bottom: 1px solid #dee2e6;
        }
        .status-col:first-child, .status-col:nth-child(3){
            border-right: 1px solid #dee2e6;
        }
        .about-section {
            padding: 40px 0px;
        }
        .heading-text h2 {
            font-size: 22px;
            line-height: 32px;
        }
        .about-text {
            padding: 0px 0px 0px 10px;
        }
        .about-text .learn-more-btn {
            font-size: 12px;
            padding: 10px 13px;
            margin: 0px;
        }
        .whyus-section {
            padding: 40px 0px;
        }
        .features-box h4 {
            padding: 8px 10px;
            font-size: 13px;
        }
        .services-section {
            padding: 40px 0px;
        }
        .service-btn {
            display: contents;
        }
        .service-box h4 {
            font-size: 18px;
        }
        .service-box p {
            font-size: 12px;
            font-weight: 500;
        }
        .services-section .heading-text h2 {
            font-size: 22px;
            line-height: 32px;
            margin: 0px 0px 15px !important;
        }
        .reviews-section .inner-reviews h2 {
            font-size: 30px;
            line-height: 40px;
        }
        .testimonial-box {
            padding: 10px;
        }
        .author-title h5 {
            font-size: 18px;
        }
        .testimonials-container{
            height: 500px;
        }
        .author-title span {
            font-size: 12px;
        }
        .carousel-control-prev-icon, .carousel-control-next-icon {
            display: none;
        }
        .member-box{
            margin-bottom: 20px;
        }
        .footer-section {
        margin-top: 0px;
        }
        .contact-form {
            width: 90% !important;
        }
        .contact-form .btn {
            font-size: 10px;
            padding: 10px 12px;
            top: 58px;
            right: -14px;
        }
        .contact-form .user-email {
            top: 60px;
            left: 14px;
            padding: 15px 20px;
            font-size: 14px;
        }
        .footer-social a {
            font-size: 16px;
            margin: 0px 2px;
        }
        .footer-social {
            text-align: center;
        }
        .footer-links a {
            font-size: 8px;
            text-transform: uppercase;
            color: #ffffff;
            margin: 0px 2px;
        }
        .footer-links a {
            font-size: 8px;
            margin: 0px 2px;
        }
        .footer-text.mx-auto.w-50.mt-3 {
            width: 100% !important;
            font-size: 10px;
            line-height: 20px;
        }

  }
 /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
        .navbar-brand img{
            width: 80px;
        }
        /* .navbar-toggler .fa-bars{
            color: #ff6058;
        } */
        .nav-toggle{
            font-size: 26px;
            color: #ff6058;
        }
        .nav-toggle:hover, .nav-toggle:focus{
            color: #ff6058;
        }
        .btn-close {
            color: #ffffff;
            background:transparent !important;
        }
        .btn-close .fa-xmark{
            color: #ffffff;
            font-size: 25px;
        }
        .offcanvas-social{
            width: 100%;
            background-color: #333333;
            padding: 10px;
        }
        .offcanvas-body .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
            color:#fff;
            width: 100%;
        }
        .offcanvas-body .navbar-nav .nav-link{
            color:#fff;
            font-size: 18px;
            line-height: 30px;
        }
        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
            overflow: hidden;
        }
        .offcanvas-social li a{
            color: #ff6058;
        }
        .offcanvas.offcanvas-start {
            background: #333333;
        }
        .banner-content h1 {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .banner-content h3 {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 22px;
        }
        .banner-content p {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 30px;
        }
        .hero-buttons {
            display: flex;
        }

        .home-section .hero-buttons .btn, .learn-more-btn {
            font-size: 16px;
            font-weight: 600;
            padding: 12px 28px;
        }
        /* font-size: 12px;
        font-weight: 600;
        padding: 12px 25px;
        margin: 10px 5px;
        transition: 1s; */
        /* banner part end */
        .status-col span.number {
            font-size: 30px;
            line-height: 45px;
        }
        .status-col .multiple-number span.text-lowercase {
            font-size: 30px;
            line-height: 45px;
            font-weight: 800;
            color: #ff6058;
            margin: 0px 5px;
        }
        .heading-text h3 {
            font-size: 18px;
            margin-top: 30px;
        }
        .status-col {
            border: none;
            text-align: center;
        }
        .status-col:first-child, .status-col:nth-child(2){
            border-bottom: 1px solid #dee2e6;
        }
        .status-col:first-child, .status-col:nth-child(3){
            border-right: 1px solid #dee2e6;
        }
        .about-section {
            padding: 40px 0px;
        }
        .heading-text h2 {
            font-size: 30px;
            line-height: 40px;
        }
        .about-text {
            padding: 0px 0px 0px 10px;
        }
        .inner-about h4 {
            font-size: 30px;
            line-height: 40px;
        }
        .inner-about p {
            font-size: 20px;
            line-height: 30px;
        }
        .about-text .learn-more-btn {
            font-size: 16px;
            padding: 12px 28px;
            margin: 0px;
        }
        .whyus-section {
            padding: 40px 0px;
        }
        .features-box h4 {
            padding: 8px 10px;
            font-size: 13px;
        }
        .features-box h4 {
            padding: 10px 10px;
            font-size: 16px;
        }
        .services-section {
            padding: 40px 0px;
        }
        .service-box h4 {
            font-size: 27px;
        }
        .service-btn {
            display: contents;
        }
        .services-section .heading-text h2 {
            font-size: 30px;
            line-height: 40px;
            margin: 0px 0px 35px !important;
        }
        .reviews-section .inner-reviews h2 {
            font-size: 30px;
            line-height: 40px;
        }
        .testimonial-box {
            padding: 10px;
        }
        .author-title h5 {
            font-size: 18px;
        }
        .testimonials-container{
            height: 500px;
        }
        .author-title span {
            font-size: 12px;
        }
        .carousel-control-prev-icon, .carousel-control-next-icon {
            display: none;
        }
        .member-box{
            margin-bottom: 20px;
        }
        .footer-section {
            margin-top: 0px !important;
        }
        .contact-form {
            width: 95% !important;
        }
        .contact-form .btn {
            font-size: 10px;
            padding: 10px 12px;
            top: 58px;
            right: -6px;
        }
        .contact-form .user-email {
            top: 60px;
            left: 10px;
            padding: 15px 20px;
            font-size: 14px;
        }
        .footer-social a {
            font-size: 16px;
            margin: 0px 2px;
        }
        .footer p {
            text-align: center;
        }
        .footer-social {
            text-align: center;
        }
        .footer-links a {
            font-size: 8px;
            text-transform: uppercase;
            color: #ffffff;
            margin: 0px 2px;
        }
        .footer-links a {
            font-size: 8px;
            margin: 0px 2px;
        }
        .footer-text.mx-auto.w-50.mt-3 {
            width: 100% !important;
            font-size: 10px;
            line-height: 20px;
        }
    
  }
   /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
            overflow: hidden;
        }
        .navbar-brand img{
            width: 80px;
        }
        .nav-toggle{
            font-size: 20px;
            color: #ff6058;
        }
        .nav-toggle:hover, .nav-toggle:focus{
            color: #ff6058;
        }
        .btn-close {
            color: #ffffff;
            background:transparent !important;
        }
        .btn-close .fa-xmark{
            color: #ffffff;
            font-size: 25px;
        }
        .offcanvas-social{
            width: 100%;
            background-color: #333333;
            padding: 10px;
        }
        .offcanvas-body .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
            color:#fff;
        }
        .offcanvas-body .navbar-nav .nav-link{
            color:#fff;
            font-size: 18px;
            line-height: 30px;
        }
        .offcanvas.offcanvas-start {
            background: #333333;
            width: 100%;
        }
        .offcanvas-social li a{
            color: #ff6058;
    
        }
        .banner-content h1 {
            font-size: 40px;
            line-height: 50px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .banner-content h3 {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 22px;
        }
        .banner-content p {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 30px;
        }
        .home-section .hero-buttons .btn, .learn-more-btn {
            font-size: 16px;
            font-weight: 600;
            padding: 12px 40px;
            transition: 1s;
        }
        /* banner part end */
        .status-col span.number {
            font-size: 30px;
            line-height: 45px;
        }
        .status-col .multiple-number span.text-lowercase {
            font-size: 30px;
            line-height: 45px;
            font-weight: 800;
            color: #ff6058;
            margin: 0px 5px;
        }
        .status-col{
            border: none;
        }
        .status-col:first-child, .status-col:nth-child(2){
            border-bottom: 1px solid #dee2e6;
        }
        .status-col:first-child, .status-col:nth-child(3){
            border-right: 1px solid #dee2e6;
        }
        .about-section {
            padding: 40px 0px;
        }
        .heading-text h2 {
            font-size: 40px;
            line-height: 55px;
            letter-spacing: 1px;
        }
        .heading-text h3 {
            padding: 40px 0px 0px;
        }
        .about-text {
            padding: 0px 0px 0px 10px;
        }
        .about-text .learn-more-btn {
            font-size: 16px;
            padding: 12px 40px;
            margin: 0px;
        }
        .whyus-section {
            padding: 40px 0px;
        }
        .features-box {
            margin: 0px 0px 30px;
        }
        .features-box h4 {
            padding: 12px 30px;
            font-size: 16px;
            bottom: 16px;
            width: 55%;
            left: 22%;
        }
        .services-section {
            padding: 40px 0px;
        }
        .service-box h4 {
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 14px;
        }
        .service-btn {
            display: contents;
        }
        .services-section .heading-text h2 {
            font-size: 40px;
            line-height: 55px;
            margin: 0px 0px 20px !important;
        }
        .reviews-section .inner-reviews h2 {
            font-size: 30px;
            line-height: 40px;
        }
        .testimonial-box {
            padding: 30px;
        }
        .author-title h5 {
            font-size: 18px;
        }
        .testimonials-container{
            height: 500px;
        }
        .author-title span {
            font-size: 16px;
        }
        .carousel-control-prev-icon, .carousel-control-next-icon {
            display: none;
        }
        .member-box{
            margin-bottom: 20px;
        }
        .footer-section {
        margin-top: 0px !important;
        }
        .contact-form {
            width: 90% !important;
        }
        .contact-form .btn {
            font-size: 14px;
            padding: 8px 30px;
            top: 57px;
            right: -20px;
        }
        .contact-form .user-email {
            top: 60px;
            left: 25px;
            padding: 15px 20px;
            font-size: 14px;
        }
        .footer-social a {
            font-size: 24px;
            margin: 0px 10px;
        }
        .footer-social {
            text-align: center;
        }
        .footer-links a {
            font-size: 12px;
            text-transform: uppercase;
            color: #ffffff;
            margin: 0px 2px;
        }
        .footer-links a {
            font-size: 12px;
            margin: 0px 2px;
        }
        .footer-text.mx-auto.w-50.mt-3 {
            width: 100% !important;
            font-size: 16px;
            line-height: 26px;
        }
        .footer p {
            font-size: 14px;
            text-align: center;
        }
  }
 /* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
 */
 
 @media (min-width: 768px) and (max-width: 1024px) {
        .nav-toggle{
            font-size: 20px;
            color: #ff6058;
        }
        .nav-toggle:hover, .nav-toggle:focus{
            color: #ff6058;
        }
        .btn-close {
            color: #ffffff;
            background:transparent !important;
        }
        .btn-close .fa-xmark{
            color: #ffffff;
            font-size: 25px;
        }
        .offcanvas-social{
            width: 60%;
            background-color: #333333;
            padding: 10px;
        }
        .offcanvas-body .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
            color:#fff;
        }
        .offcanvas-body .navbar-nav .nav-link{
            color:#fff;
            font-size: 18px;
            line-height: 30px;
        }
        .offcanvas.offcanvas-start {
            background: #333333;
            width: 60%;
        }
        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
            overflow: hidden;
        }
        /* .offcanvas.show:not(.hiding), .offcanvas.showing {
            transform: none;
            width: -webkit-fill-available;
        } */
        .features-box {
            margin-bottom: 30px;
        }
        .features-box h4 {
            width: 40%;
            left: 30%;
        }
        .contact-form .btn {
            right: -140px;
        }
  }